header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 32px;
  text-decoration: none;
}

a {
  text-decoration: none;
  border-bottom: 2 solid;
  color: black;
  padding-bottom: 20px;
  text-shadow: 2px, 2px;
  color: rgba(95, 158, 160, 0.53);
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  text-align: center;
  height: 44px;
}

